<div class="final">
<div class="container">
  <div class="col-md-12">
    <div class="row">
    <button type="button" class="btn btn-outline-primary btn-lg m-3" (click)="sidenavToggle()">{{sidebarStatus}}</button>
    <button type="button" class="btn btn-outline-success btn-lg m-3" (click)="addNotes()">Add</button>
    <button type="button" class="btn btn-outline-danger btn-lg m-3" (click)="deleteNotes()">Delete</button>
    <input type="text" class="pos">
  </div>
  <hr>
  <mat-drawer-container class="notes-container">
      <mat-drawer mode="side" [(opened)]="opened">
        <div *ngFor="let note of notes">
          <a href="#note" class="a1"><div class="notes-events" id="note" (click)="showNotes(note)">{{ note }}</div></a>
        </div>
      </mat-drawer>
      <mat-drawer-content>
          <textarea rows="11" (cols)="columns" wrap="soft" *ngIf="!noteSelected" class="form-control main-events" [(ngModel)]="notes[0]"></textarea>
          <textarea rows="11" (cols)="columns" wrap="soft" *ngIf="noteSelected" class="form-control main-events" [(ngModel)]="notes[index]"></textarea>
      </mat-drawer-content>
  </mat-drawer-container>
  </div>
</div>
</div>