textarea{
  padding: 12px 20px;
  border: hidden;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  resize: none;
  color: blue;
}

.cover {
  background-color: cornflowerblue;
  backface-visibility: visible;
}

h1 {
  margin-left: 430px;
  padding-top: 50px;
  text-decoration:blue;
  color: darkblue;
  font-size: 40px;
}


.final {
  margin-top: 20px;
  margin-left: 300px;
  text-align: center;
  height: auto;
  width: ato;
}


input {
  font-size: 25px;
  padding-left: 15px;
  border: 1px solid blue;
}

hr {
  border: 4px solid blue;
  margin-left: -30px;
  width: 650px;
}

.notes-container {
    position: center;
    top: 20px;
    bottom: 20px;
    height: 280px;
    width: 600px;
  }
  
  .side-events {
    width: 150px;
    height: 20px;
  }

  .main-events {
    overflow: auto;
    border: 2px solid blue;
  }
  
  .pos {
    margin-top: 15px;
    float: right;
    width: 200px;
    height: 55px;
  }

  .a1 {
    width: 150px;
    height: 90px;
    text-decoration: none;
    color: blue;
    background-color: white;
    border: 2px solid blue;
  }

  .a1:hover{
    color:white;
    background-color: darkblue;
    cursor: pointer;
  }

  .a3 {
    width: 400px;
    height: 245px;
    color: blue;
  }



  @media only screen and (max-width: 768px) {
    
    mat-drawer {
      width: 110px;
      text-align: left;
    }

    .side-events {
      width: 87px;
      text-align: center;
    }

    textarea {
      padding: 12px 20px;
      height: 35px;
      width: 445px;
      scrollbar-width: none;
    }
    
    h1 {
      margin-left: 100px;
      padding-top: 20px;
      font-size: 30px;
    }
    
    .notes-container {
      position: center;
      top: 20px;
      height: 140px;
      width: 450px;
    }
    
    .notes-events {
      width: 130px;
      height: 10px;
      overflow: auto;
    }

    .main-events {
      overflow: auto;
      height: 140px;
      width: 450px;
    }

    .a3 {
      width: 440px;
      height: 120px;
      margin-right: 0px;
    }
  
    .notes-container, .notes-events, .main-events {
      font-size: 12px;
    }

    .final {
      margin-left: 10px;
      text-align: center;
      height: 300px;
      width: 550px;
    }

    hr {
      border: 2px solid blue;
      margin-bottom: 2px;
      width: 500px;
    }

    button, input {
      font-size: 14px;
    }

    .pos {
      margin-top: 15px;
      float: right;
      width: 120px;
      height: 35px;
    }

 }